<% provide(:title, "SIGN UP") %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name' %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn-main'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= link_to "Back", :back, class: "btn-main" %>
