<p style="color: green"><%= notice %></p>

<h1>Categories</h1>
<h2> <%= @user.name %> </h2>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category do %>
    <div>
    <%= render category %>
    </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
