<div id="<%= dom_id expense %>">
  <p>
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    $ <%= expense.amount %>
  </p>

  <%= link_to "Edit this expense", edit_category_expense_path(@category, expense) %>

  <% expense.categories.each do |category| %>
    <%= category.icon %>
  <% end %>
</div>
